.notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 15px 30px;
    gap: 10px;
    background-color: #FCE572;
    border-radius: 40px;
}